body{
    margin-top:0px;
    width:100%;
    background-color: #707070;
}
img{
	width:125px;
	height: 240px;
    border:1px solid black;
    padding: 3px;
}
hr{
    width:80%;
    color:#707070;
}
label {
  display: inline-block;
  width: 5em;
}

#topNav{
    font-family: 'Oswald', sans-serif;
    font-size: 1.15em;
    padding:5px 0px 2px 0px;
    border-bottom: 2px #A80000 solid;   
}
#message{
    color:#A80000;
    font-family: 'Oswald', sans-serif;
    font-size: .95em;
    margin:5px;
    padding:5px; 
    display: block;
    z-index: 12;
}
#myMoviesDiv{
    padding-top: 5px;
	width: 98%;
    height: 610px;
    margin-left: 5px;
    margin-right: auto;
    border-top: 1px solid #707070;
    overflow: hidden;

}

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 0.75em;
    width: 1.2em;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    padding-top:1px;
    color:white;
    text-align: center;
}
.hidden{
    display:none;
}
.posters{
	padding:10px;
    width: 140px;
    height: 280px;
    border-right: 1px solid #707070;
    float:left;
    background-color: black;
}
.titlePanels{
    font-size: 0.75em;
    font-family: 'Roboto Condensed', sans-serif;
    padding:5px;
    width: 140px;
    height: 280px;
    border: 3px solid #A80000;
    float:left;
    background-color: white;
    z-index: 1000;
}
.titlePanels a{
    padding:0px;
    color:#A80000;
}
#loadingImage
{
    background:#000 url(img/loader.gif) no-repeat center center;
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}